<div class="br-sideleft sideleft-scrollbar" style="overflow:scroll;">
  <label class="sidebar-label pd-x-10 mg-t-20 op-3">Navigation</label>
  <ul class="br-sideleft-menu">
    <li (click)="optionMenu(0)" [routerLink]="['/home']" class="br-menu-item">
      <a style="color: white;" class="br-menu-link active">
        <i class="menu-item-icon icon ion-ios-home-outline tx-24"></i>
        <span class="menu-item-label">Home</span>
      </a>
    </li>
    <li (click)="optionMenu(1)" [routerLink]="['/user']" class="br-menu-item">
      <a style="color: white;" class="br-menu-link">
        <i class="menu-item-icon icon ion-ios-home-outline tx-24"></i>
        <span class="menu-item-label">User</span>
      </a>
    </li>
    <!-- <li class="br-menu-item">
      <a  class="br-menu-link">
        <i class="menu-item-icon icon ion-ios-email-outline tx-24"></i>
        <span class="menu-item-label">Mailbox</span>
      </a>
    </li> -->

    <!-- <li class="br-menu-item">
      <a href="#" class="br-menu-link with-sub">
        <i class="menu-item-icon icon ion-ios-photos-outline tx-20"></i>
        <span class="menu-item-label">Cards &amp; Widgets</span>
      </a>
      <ul class="br-menu-sub">
        <li class="sub-item"><a class="sub-link">Dashboard</a></li>
        <li class="sub-item"><a class="sub-link">Blog &amp; Social Media</a></li>
        <li class="sub-item"><a class="sub-link">Shop &amp; Listing</a></li>
      </ul>
    </li> -->

  </ul><!-- br-sideleft-menu -->
  <br>
</div><!-- br-sideleft -->
<!-- ########## END: LEFT PANEL ########## -->